{{ define "main" }}

<section class="section">
    <div class="container">

        <h1>Galeri</h1>

        <div class="gallery-grid">

            {{ $pages := .Pages }}

            {{ if .Params.kategori }}
            {{ $pages = where .Pages "Params.kategori" "intersect" (slice .Params.kategori) }}
            {{ end }}

            {{ range $pages.ByDate.Reverse }}


            <a href="{{ .RelPermalink }}" class="gallery-card">

                <!-- GAMBAR -->
                <div class="gallery-image">
                    <img src="{{ .Params.image }}" alt="{{ .Title }}">
                </div>

                <!-- TEKS DI BAWAH -->
                <div class="gallery-info">
                    <h3>{{ .Title }}</h3>
                </div>

            </a>

            {{ end }}

        </div>

    </div>
</section>

{{ end }}
