{{ define "main" }}

<section class="section">
    <div class="container">

<h1>Galeri</h1>

<div class="gallery-filter">

    <!-- SEMUA -->
    <a href="/galeri/" 
       class="filter-btn {{ if eq .RelPermalink "/galeri/" }}active{{ end }}">
       Semua
    </a>

    <!-- URUTAN FIX SESUAI PERMINTAAN -->
    {{ $kategori := slice
        (dict "slug" "ritual-pemakaman" "label" "Ritual Pemakaman")
        (dict "slug" "ritual-syukuran" "label" "Ritual Syukuran")
        (dict "slug" "arsitektur-seni" "label" "Arsitektur dan Seni")
        (dict "slug" "jejak-sejarah" "label" "Jejak Sejarah")
        (dict "slug" "lanskap-alam" "label" "Lanskap dan Alam")
        (dict "slug" "sosial-aktivitas" "label" "Sosial dan Aktivitas")
    }}

    {{ range $kategori }}

        <a href="/galeri/kategori/{{ .slug }}/"
           class="filter-btn {{ if in $.RelPermalink .slug }}active{{ end }}">

            {{ .label }}

        </a>

    {{ end }}

</div>

        <!-- GRID -->
        <div class="gallery-grid">

            {{ range .Pages.ByDate.Reverse }}

            <a href="{{ .RelPermalink }}" class="gallery-card">
                <div class="gallery-image">
                    <img src="{{ .Params.image }}" alt="{{ .Title }}">
                </div>
                <div class="gallery-info">
                    <h3>{{ .Title }}</h3>
                </div>
            </a>

            {{ end }}

        </div>

    </div>
</section>

{{ end }}
