{{ define "main" }}

<section class="section">
    <div class="container">

        <div class="gallery-detail">

            <!-- KIRI (GAMBAR) -->
            <div class="gallery-image">
                <img src="{{ .Params.image }}" alt="{{ .Title }}">
            </div>

            <!-- KANAN (INFO) -->
            <div class="gallery-info">

                <h1>{{ .Title }}</h1>

                <p><strong>Sumber:</strong> {{ .Params.sumber }}</p>
                <p><strong>Tahun Dokumentasi:</strong> {{ .Params.tahun }}</p>
                <p><strong>Lokasi:</strong> {{ .Params.lokasi }}</p>

                <div style="margin-top:20px;">
                     {{ .Content }}
                </div>

                <!-- PINDAHKAN SHARE KE SINI -->
                <div class="gallery-share">
                     <span>Bagikan:</span>
                     <a href="#">Facebook</a>
                     <a href="#">X</a>
                     <a href="#">Instagram</a>
                     <a href="#">TikTok</a>
                </div>

            </div>

    </div>
</section>

{{ end }}
