:root {
    --hitam: #0f0f0f;
    --putih: #ffffff;
    --merah: #7a0c0c;
    --kuning: #d4af37;
}

/* RESET */
body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
}

/* CONTAINER */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

/* HEADER */
.header {
    background: var(--hitam);
    color: var(--putih);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.logo {
    font-weight: bold;
}

.nav a {
    color: var(--putih);
    margin-left: 25px;
    text-decoration: none;
}

.nav a:hover {
    color: var(--kuning);
}

/* HERO */
.hero {
    position: relative;

    width: 100%;
    aspect-ratio: 16 / 9; /* kunci 1920x1080 */

    background: url("/img/header-toraja.jpg") center/cover no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* BUTTON */
.btn {
    padding: 12px 25px;
    background: var(--merah);
    color: var(--putih);
    border-radius: 50px;
    text-decoration: none;
}

.btn-outline {
    border: 2px solid var(--kuning);
    color: var(--kuning);
}

/* SECTION */
.section {
    padding: 80px 20px;
    text-align: center;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

/* CARD */
.card {
    background: #fff;
    border-radius: 12px;
    border: 1px solid #eee;
    text-decoration: none;
    color: inherit;
}

.card-content {
    padding: 20px;
}

/* GALERI */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.gallery img {
    width: 100%;
    border-radius: 10px;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 30px;
    background: var(--hitam);
    color: var(--putih);
}
