<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header class="header">
    <div class="container">

        <div class="logo">
            <a href="/" style="color:white; text-decoration:none;">
                Toraja Digital Gallery
            </a>
        </div>

        <nav class="nav">
            <a href="/">Home</a>
            <a href="/galeri/">Galeri</a>
        </nav>

    </div>
</header>

{{ block "main" . }}{{ end }}

<footer class="footer">
    <p>© 2026 Toraja Digital Gallery</p>
</footer>

</body>
</html>
