<header class="header">
    <div class="container">
        <a href="/" class="logo">
            <img src="/img/logo.png" alt="Toraja Digital Gallery">
        </a>

        <!-- TOGGLE (checkbox hack) -->
        <input type="checkbox" id="menu-toggle">

        <!-- ICON HAMBURGER -->
        <label for="menu-toggle" class="menu-icon">
            ☰
        </label>

        <!-- NAV MENU -->
        <nav class="nav">
             <a href="/" class="{{ if .IsHome }}active{{ end }}">Beranda</a>

             <a href="/posts/" class="{{ if eq .Section "posts" }}active{{ end }}">Artikel</a>

             <a href="/galeri/" class="{{ if eq .Section "galeri" }}active{{ end }}">Galeri</a>

             <a href="/tentang/" class="{{ if eq .Section "tentang" }}active{{ end }}">Tentang</a>


         </nav>

    </div>
</header>
